.active {
  font-weight: bold;
}
nav {
  display: flex;
  align-items: center;
  background-color: black;

  ul {
    margin: 10px;
    list-style-type: none;
    padding: 10px;

    li {
      display: inline;
      padding: 20px;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
#logo {
  font-family: "Titillium Web Black", sans-serif;
  font-weight: bold;
  color: purple;
  font-size: 3em;
}
